body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #8ec5fc, #e0c3fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* width: 420px; */
    width: 90%;
    background: rgba(255,255,255,0.25);
    padding: 25px;
    border-radius: 18px;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}
.input-grid-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

.title {
    text-align: center;
    color: #003366;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 700;
}

.input-group {
    margin: 10px;
}

label {
    font-size: 14px;
    color: #003366;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
    outline: none;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: #0055ff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.03);
    background: #003db3;
}

/* Result card */
.result-card {
    margin-top: 25px;
    padding: 20px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
}

.hidden {
    display: none;
}

/* Animations */
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.slide-up {
    animation: slideUp 0.8s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
